
<head>
    <title> Restaurante de Bou</title>
    <style>
     
    body {
       
      }
     
      header {
        background-color: #F9A602;
        padding: 10px;
        text-align: center;
      }
     
      h1 {
        margin: 0;
        font-size: 3rem;
        color: #FFF;
      }
      
      nav {
        background-color: #333;
        color: #FFF;
        padding: 10px;
        text-align: center;
      }
      
      nav a {
        color: #FFF;
        text-decoration: none;
        padding: 10px;
      }
      
      main {
        max-width: 960px;
        margin: 0 auto;
        padding: 20px;
      }
      
      section {
        margin-bottom: 20px;
      }
      
      h2 {
        font-size: 2rem;
        margin-bottom: 10px;
        color: #F9A602;
      }